body{
    font-family: 'Prompt', sans-serif;
}
h1{
    font-size: 50px;

}
.colour{
    color: green;
}
.half-width{
    margin-left: 50px  ;
    width: 40%;
    float: left;
}
.half-width img{
     margin-top: 100px;
        width: 150%;

}